h1 {
    font-size: 30px;
    background-color: orange;
    margin:30px;
    padding:20px;
}

p{
    border:5px dashed green;
}

h1,h3{
    color:blue;
    border:5px solid yellow;
}
.h3class {
    color:orange;
}

img{
    width:"500px";
    height:"500px";
}